/*General*/
body{
    width: 800px; margin: 0 auto; 
}
/*Block Styling*/
img{
    width: 200px; height: 200px;
}
/* Typography */
h1,h2,p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
/* Form Styling */
main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    background-image: url('./images/phone_globe.jpeg');
    background-repeat: no-repeat;


    color: white;
    font-family:fantasy;
  }

/* Styling the products display */
body > div{
    border: 5px solid black;
    display: flex;
}

/* Styles image rotation of products*/
.rotate img
{
  animation: rotation .3s infinite linear;
  
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


